@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: white;
    color: #555;
    font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/*----------------BUTTONS--------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 100px;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #6821eb;
    border: 1px solid #6821eb;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #6821eb;
    color: #6821eb;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #6821eb;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #6821eb;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #6821eb;
    color: #fff;
}


/*RESUABLES*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    background-image: linear-gradient(rgba(117, 76, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/images.jpg);
    background-color: #f4f4f4;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed
}

.box {
    padding: 1%;
}


/* HEADING */

.heading,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 300;
}

.heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 200%;
    color: rgb(90, 175, 126);
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15%;
    letter-spacing: 1px;
}


/******************************************/


/* HEADER */


/*****************************************/

header {
    background-image: linear-gradient(rgba(117, 76, 0, 0), rgba(0, 0, 0, 0)), url(img/images.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 70px;
    width: auto;
    /* float: left; */
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}


/* MAIN NAV */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: rgb(93, 190, 194);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(219, 72, 200);
    transition: border-bottom 0.2s;
}


/* Payment? */

.contact-form {
    width: 60%;
    margin: 50px auto;
    background-image: linear-gradient(rgba(117, 76, 0, 0), rgba(0, 0, 0, 0)), url(img/images.jpg);
    background-color: #f4f4f4;
    background-size: cover;
    background-attachment: fixed
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    /* border-radius: 3px;
    border: 1px solid #ccc; */
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {
    outline: none;
}


/*---------------------------------------*/


/*FOOTER*/


/*---------------------------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: inline-end;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/* CATALOGUE */

.catalogue {
    background-image: linear-gradient(rgba(117, 76, 0, 0), rgba(0, 0, 0, 0)), url(img/images.jpg);
    background-color: #f4f4f4;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed
}

.catalogue-header {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    margin-left: 5%;
    -webkit-box-shadow: 0/*this is the x-axis*/
    2px/*this is the y-axis*/
    2px/*this is the blur*/
    #efefef;
    box-shadow: 0/*this is the x-axis*/
    2px/*this is the y-axis*/
    2px/*this is the blur*/
    #efefef;
}

.package-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.package-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.package-box div:last-child {
    text-align: center;
    border: 0;
}

.packages,
h3 {
    background-color: lavenderblush;
    margin: 0;
    text-align: center;
    padding: 0;
}

.package-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #c99465dc;
}

.package-price span {
    font-size: 30%;
    font-weight: 300;
}

.package-inclusives {
    font-size: 80%;
}

.package-box ul {
    list-style: none;
}

.package-box ul li {
    padding: 5px 0;
}


/* ABOUT */

.about {
    padding-top: 100px;
}


/* CONTACT */

.contact {
    width: 100%;
}

.contact,
h3 {
    text-align: center;
}